:root {
  --ink-color: #000a;
  --grey-dark-color: #4d5254;
  --grey-less-dark-color: #777;
  --grey-mid-color: #e7e7e7;
  --grey-light-color: #e7e7e7;
  --grey-bright-color: #fafafa;
  --white-color: #ffffff;
  --blue-color: #b0c4ec;
}

.meta-mode {
  --ink-color: #0005;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  touch-action: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  font-family: system-ui;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.tool {
  fill: #bbb;
  mix-blend-mode: difference;
  text-anchor: middle;
  font-weight: 250;
  font-size: 12px;
  alignment-baseline: central; /* Ignore the warning — this is valid */
  letter-spacing: -0.5px;
}

#meta-toggle {
  transition:
    scale 0.8s cubic-bezier(1, 0, 0, 1.3),
    translate 0.5s cubic-bezier(0.4, 1.3, 0.1, 0.98);

  &.dragging {
    scale: 1.8;
    transition:
      scale 2s cubic-bezier(0, 1.2, 0, 1),
      translate 0.05s linear;
  }

  & circle {
    fill: currentcolor;
    transition: scale 0.8s cubic-bezier(0, 1.5, 0, 1);
  }

  .inner {
    fill: white;
    scale: 0.75;
  }

  .secret {
    scale: 0.15;
  }

  &.active {
    color: color(display-p3 1 0.7 0);
    .inner {
      scale: 0.85;
    }
    .secret {
      scale: 0.7;
    }
  }
}

.pseudo-touch {
  fill: none;
  stroke: #00000011;
  stroke-width: 20;
}

.stroke {
  fill: none;
  stroke-width: 2;
  stroke: var(--ink-color);
}

#meta {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0, 1, 0, 1);
}

.meta-mode #meta {
  opacity: 1;
}
